.restaurantCard{
    background-color: #dfb1d9;
    display: flex;
    margin: 5%;
    
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    


}

.restaurantCard:hover{
    transform: scale(1.01);
    transition-delay: 0.1s ease-in;
}

.list{
    width: 80%;
    height: 100%;
}

.cuisineImage{
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;

}

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    
}

.navBar .logo{
    height: 20px;
    width: auto;
}

.navBar {
    z-index: 3;
    align-items:center;
    overflow: hidden;
    padding: 0.1%;
    position: fixed;
    top: 0; 
    width: 100%; 
    padding: 0.1%;
    display: flex;
    align-content: center;
    justify-content: space-around;
  }
  
  .navBar .logo{object-fit: contain;
    width: 5%;
  }
  
  .navBar a{
    
    height: 40px;
    color: black;
    padding: 0.5%;
    align-content: center;
  }
  
  .navBar a:hover {
    transform: scale(1.5);
    transition-delay: 0.1s ease-in;
  }