.App {
  text-align: center;
  background-color: rgb(245, 113, 6);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(100, 100, 100);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Light Mode Styles */

.bg-light {
  background-color: #fff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* Dark Mode Styles */

.bg-dark {
  background-color: #222;
}

.heading-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}

.btn-dark {
  background-color: #fff;
  color: #222;

}